.player-queue-stream-wrapper {
    position: relative;
    width: 200px;
    height: 100%;
    padding-left: 10px;
    display: flex;
    border-right: 1px solid #101218;
    &.active {
        background: $blue;
    }

    &:hover {
        .remove-queue-stream {
            visibility: visible;
        }
    }

    .remove-queue-stream {
        position: absolute;
        bottom: 3px;
        right: 3px;
        font-size: 16px;
        border-radius: 50%;
        color: $light;
        visibility: hidden;
        &:hover {
            color: $red;
        }
    }

    .queue-stream-cover {
        height: 50px;
        width: auto;
        margin: auto;
    }
    .queue-stream-info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        color: $light;
        font-size: 12px;
        .queue-stream-info-title {
            height: 50%;
            width: 120px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .queue-stream-info-user {
            height: 50%;
        }
    }
}
