$categories-bg: lighten($blue-dark, 10%);

.charts-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    .chart-categories {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: flex-end;
        background:  $categories-bg;
        color: $lightgray;
        text-transform: uppercase;
        font-size: 14px;
        &-element {
            width: 100px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: border 0.1s ease;
            &.active {
                // border-bottom: 4px solid $blue;
                background: darken($categories-bg, 5%);
                &:hover {
                    background: darken($categories-bg, 5%);
                }
            }
            &:hover {
                background: darken($categories-bg, 5%);
            }
        }
    }
    .stream-list {
        height: calc(100% - 40px);
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        .charts-stream {
            min-width: 600px;
            height: 150px;
            flex: 0 0 auto;
        }
    }
    @media(max-width: 768px) {
        padding: 20px;
    }
}

