.explore-wrapper {
    width: 70%;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $light;
    .explore-view-title {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: normal;
    }
}

