.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark;
    color: white;
    .header-logo-wrapper {
        width: 150px;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .header-logo {
            height: 100%;
            width: auto;
        }
    }

    .search-bar-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .header-links {
        height: 100%;
        margin-right: auto;
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .link {
            height: 100%;
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background: lighten($dark, 20%);
            }

        }

    }

    .user-menu-wrapper {
        position: relative;
        height: 100%;
        width: 70px;
        margin-right: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .anon-account-icon {
            font-size: 36px;
        }

        .user-account-icon {
            height: 36px;
            border-radius: 50%;
        }
        
        .user-menu-arrow-down {
            font-size: 1.5rem;
        }

        .menu-list {
            position: absolute;
            top: 80%;
            right: 0;
            width: 200px;
            background: #efefef;
            color: black;
            box-shadow: 0 7px 30px rgba(0, 0, 0, 0.32);
            .menu-list-item {
                height: 40px;
                padding: 0 20px;
                display: flex;
                align-items: center;
                &:hover {
                    background: lighten($dark, 20%);
                    color: white;
                }
            }
        }
    }
}
