#mixnode {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: $white;
    .content-wrapper {
        height: 100%;
        margin-top: 80px;
        overflow-y: scroll;
    }
}
