#mixnode {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #f9f9f9;
    .content-wrapper {
        height: calc(100% - 140px);
        margin-top: 80px;
        display: flex;
        .content-view {
            height: 100%;
            width: calc(100% - 200px);
            overflow-y: scroll;
        }
    }
}

