::-webkit-progress-value {
    -webkit-appearance: none;
}


.player-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    .player-queue-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 60px;
        background: darken($blue-dark, 2%);
        .player-queue-list {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            height: 100%;
            .player-queue-stream-wrapper {
                flex: none;
            }
            .queue-full-message {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $slategray;
                font-size: 0.85rem;
            }
        }
    }
    &:hover {
        .seekbar {
            transform: scaleY(3);
        }
    }

    .stream-player-wrapper {
        position: absolute;
        top: 60px;
        width: 100%;
        height: 60px;
        display: flex;
        background: $blue-dark;
        .stream-player-actions {
            height: 100%;
            margin-left: 10px;
            // display: flex;
            display: none;
            .stream-player-action {
                margin: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                .material-icons {
                    font-size: 1.23em;
                    color: $light;
                }
            }
        }

        .stream-player-controls {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            display: flex;
            .stream-player-control {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 5px;
                .material-icons {
                    color: $light;
                    font-size: 2em;
                }
                &.stream-player-playpause {
                    .material-icons {
                        font-size: 2.5em;
                    }
                }
            }
        }

        .stream-player-volume-control-wrapper {
            height: 100%;
            width: 150px;
            margin-right: 40px;
            margin-left: auto;
            display: flex;
            align-items: center;
            .stream-player-volume-control {
                -webkit-appearance: none;
                height: 8px;
                margin-right: 10px;
                &::-webkit-progress-bar {
                    background-color: $lightgray;
                    border-radius: 4px;
                }
                &::-webkit-progress-value {
                    background-color: $blue;
                    border-radius: 4px;
                }
            }
            .stream-player-volume-icon {
                .material-icons {
                    color: $light;
                    font-size: 1.23em;
                }
            }
        }
    }
}

.player-info-wrapper {
    display: flex;
    .stream-player-cover {
        padding: 5px;
    }
    .stream-player-stream-info {
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        color: $light;
        .stream-player-info-title {
            width: 200px;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .stream-player-info-subtitle {
            width: 200px;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.seekbar-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    .seekbar[value] {
        -webkit-appearance: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: transparent;
        transition: all .2s ease-out;
        &::-webkit-progress-bar {
            background-color: $blue-dark;
        }
        &::-webkit-progress-value {
            background-color: $blue;
            box-shadow: 0 8px 42px rgba(48, 142, 191, 1);
        }
    }
    .seekbar-info {
        position: absolute;
        top: -30px;
        padding: 2px;
        background: $light;
        color: $dark;
        font-size: 12px;
    }
}
.mixcloud-footer-widget-container {
    display: none;
}
