#mixnode {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: $light;
    .content-wrapper {
        height: calc(100% - 130px);
        margin-top: $header-height;
        display: flex;
        .content-view {
            height: 100%;
            width: calc(100% - 70px);
            overflow-y: scroll;
        }
    }
}

