$footer-widget-padding: 150px;
$sidebar-width: 70px;
$header-height: 70px;


$red: #d93024;
$green: #50b348;
$blue: #4cacde;
$blue-dark: #23323f;
$blue-light: #effaff;

$slategray: #7E7F9A;
$dark-salmon: #EB9486;
$buff: #F3DE8A;

$abyss: #101218;
$dark: #25292c;
$lightgray: #ecf0f3;
$light: #f5f9fc;
$white: #ffffff;
