
$footer-widget-padding: 150px;

$light: #f5f9fc;
$lightgray: #e3e5e6;
$white: #ffffff;
$abyss: #1a2732;

$red: #d93024;
$orange: #e2584e;
$yellow: #e79e35;
$green: #50b348;
$darkgreen: #408f39;
$purple: #a27ed5;
$lightblue: #4fa6d3;
$dark: #34495e;
$darker: #273a4b;
$header: #25292c;
$darkheader: #1b1e21;
